{% extends 'base.html' %}

{% block content %}
<img src="\media\kitten.jpg" width="256" height="170" class="aboutme">
<h2 class="abouttitle"><div>A</div>bout me</h2>
<p class="abouttxt">
    A skilled mechanic is someone with a deep understanding of how machines work. 
    They have the ability to diagnose, repair, and maintain a wide range of vehicles and mechanical systems. 
    With hands-on expertise, they are adept at troubleshooting complex issues and providing practical solutions. 
    Whether it’s working on engines, electrical systems, or brakes, their attention to detail ensures that everything runs smoothly. 
    A mechanic’s job often requires patience, problem-solving skills, and a commitment to quality. 
    They play an essential role in ensuring safety and performance, offering both expertise and reliability to customers and businesses alike.
</p>
{% endblock %}