{% extends 'base.html' %}

{% block content %}
<div class="post">
<h2 class="linktitle">
    Useful Links:
</h2>

<a href="https://www.google.com" target="_blank">Google</a>
<p>Google helps users find information, access services, and connect with others through its search engine.</p>
<br>

<a href="https://www.rockauto.com" target="_blank">Rock Auto</a>
<p>RockAuto.com is an online retailer offering auto parts and accessories with wide selection and affordable prices.</p>
<br>
<a href="https://www.youtube.com" target="_blank">YouTube</a>
<p>Ugh, YouTube is like, the *only* place where I can escape and watch everything forever!
<br>
</p>
</div>
{% endblock %}