{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repair Blog</title>
</head>
{% block content %}
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
            {% endfor %}
        {{ imageform.management_form }}
        {% for form in imageform %}
            {{ form }}
        {% endfor %}
        <button type="Submit">Save</button>
    </form>
    
</body>
{% endblock %}
</html>