* { box-sizing: border-box;}

#wrapper { display: flex;
        align-items: stretch;
        width: 80%; margin: auto; }

#wrapper > article { flex-grow: 1; }
#wrapper > div { flex-grow: 8; }

#postimage {
    float: left; margin: 10px; border-radius: 10%; 
    height: 25%; width: 25%; margin-left: 50px; }

.clearfix::after { content: ""; clear: both; display: table; }    

.post { background-color: #AEAEAE;
      
}

.container { background-color: blue;
            margin: 0;
            
            }

.header { background-color: green;}

.footer { background-color: gray; 
        text-align: center;
        font-style: italic;
        font-size: .8em;
        border: 5px;
        position: sticky;
        bottom: 0;}

.posttext { padding: 20px; font-size: 1.5em; }

.title { display: flex;
        align-items: center;
        justify-content: center; }

.author { text-align: right;}

.nav-flex { display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 5px;
        background-color: #fff;
        padding: 5px;}