* { box-sizing: border-box;}



#postimage {
    float: left; margin: 10px; border-radius: 10%; 
    height: 25%; width: 25%; margin-left: 50px;
        }

.clearfix::after { content: ""; clear: both; display: table; }    

.linktitle { color: #FFF;
                text-transform: capitalize; }

.posttitle { text-decoration: none;
                text-transform: capitalize;
                color: #FFF;
         }

.posttitle:link { color: #FFF }
.posttitle:visited { color: #FFF }
.posttitle:hover { color: #FFBBBB;}



.header { display: flex;
        background-image: linear-gradient(#424C42, #616f6f);
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #000; 
        margin: 0;}

.blogname { font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                text-transform: uppercase; }

.blogname a { text-decoration: none; }

.blogname a:link { color: #FFF; }
.blogname a:visited { color: #FFF; }
.blogname a:hover { color: #FFBBBB; }

.greeting { text-align: right;
        text-transform: capitalize;
        font-family: 'Lucida Sans', Verdana, sans-serif;
        padding-right: 20px;}

.container { background-color: #dfd7d0;
            margin: 0;
            
            }

.footer {
        text-align: center;
        font-style: italic;
        font-size: .8em;
        border: 5px;
        padding: 5px;
        margin-top: 20px;
        color: #FFF;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-image: linear-gradient(0deg, #424C42, #616f6f);
        }

.footer p { margin: 0; }

.posttext { padding: 20px; font-size: 1.5em; }

.aboutme { margin: 10px;
        box-shadow: 10px 10px 10px gray;
        transform: rotate(3deg);
        padding: 10px;
        padding-bottom: 20px;
        background-color: #fff;
        float: left;
        margin: 20px 50px 10px 20px;
}

.abouttxt { margin: 10px;
        margin-top: 50px;
        font-size: 1.1em;
        line-height: 2em;
        color: #771111;
        }

.abouttitle {  
        display: flex; 
        padding: 0;
        margin: 0;
        width: 20%;
        align-items: center;}

.abouttitle div { font-size: 1.5em; 
                margin: 0;
                }

.nav-flex { display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0;
        background-color: #dfd7d0;
        padding: 10px 0;
        }

.nav-flex a { padding: 5px 8px; border: 1px solid black;
                border-radius: 5px;
                text-decoration: none;
                margin-right: 10px;
                font-family: 'Courier New', Courier, monospace;
                font-size: 16px; }

.nav-flex a:link { color: #ffff66; background-color: #771111; }
.nav-flex a:visited { color: #ffff66; }
.nav-flex a:hover { color: #FFF; }
.nav-flex button { color: #ffff66; background-color: #771111;
                        border-radius: 5px; padding: 5px 8px;
                        margin-right: 10px; border: 1px solid black;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 16px; }

.nav-flex button:link { color: #ffff66; background-color: #771111;}
.nav-flex button:visited { color: #ffff66; }
.nav-flex button:hover { color: #FFF; }

#wrapper { display: flex;
        align-items: center;
        width: 80%; margin: auto;
        background-color: #dfd7d0;
        padding: 5px;
        border: 2px solid #ABABAB;
        box-shadow:  10px 10px 10px gray;
        border-radius: 5px; }

#wrapper > article { flex-grow: 1; }
#wrapper > div { flex-grow: 8; }

.post { display: flex;
        background-color: #AEAEAE;
        flex-direction: column;
        margin: 0;
        padding: 10px;
        border-bottom: 2px solid gray; }

.actions { padding: 5px; }
.author { padding: 5px;
        justify-content: center; }
.date { padding-top: 5px;
        justify-content: flex-end; }

.title { 
        align-items: center;
        justify-content: center; }